{% extends 'home/trangchu.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'home/css/baotri.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/baotri_ntt.css' %}">
    <script src="{% static 'home/js/baotri.js' %}"></script>
    <div class="container_baotri">
        <h1>DANH SÁCH BẢO TRÌ</h1>
        <div class="chuatimkiem">
        <input type="text" placeholder="Tìm kiếm">
        <button class="them" id="tcl">Thêm bảo trì</button>
        <button class="in">In</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Mã bảo trì</th>
                    <th>Mã thiết bị</th>
                    <th>Ngày bắt đầu</th>
                    <th>Mô tả</th>
                    <th>Chi phí</th>
                    <th>Người thực hiện</th>
                </tr>
            </thead>
            <tbody>
                {% for baotri in bao_tri_list %}
            <tr>
                <td>{{ baotri.mabt }}</td>
                <td>{{ baotri.matb }}</td>
                <td>{{ baotri.ngaybt|date:"Y-m-d" }}</td>
                <td>{{ baotri.mota}}</td>
                <td>{{ baotri.diachi }}</td>
                <td>{{ baotri.chiphi|floatformat}}</td>
                <td>{{ baotri.nguoithuchien}}</td>
                <td class="chuanut"> 
                    <button class="sua">Sửa</button>
                    <button class="xoa">Xóa</button>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Không có dữ liệu</td>
            </tr>
            {% endfor %}

            </tbody>
            </table>
    </div>
    <div class="container_baotri_ntt" id="form_baotri_ntt">
            <p class="ti-close dong" id="dong"></p>
            <h1>Thêm thông tin bảo trì</h1>
            <form  method="post">
                {% csrf_token %}
                <div class="chuanut">
                    {{ bt.mabt }}
                    {{ bt.matb }}
                    {{ bt.ngaybt }}
                    {{ bt.mota }}
                    {{ bt.chiphi }}
                    {{ bt.nguoithuchien }}
                </div>
                <div class="chuanutthem">
                    <button type="submit">Thêm</button>
                </div>
            </form>
        </div>
{% endblock %}