{% extends 'home/trangchu.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'home/css/dungcu.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/dungcu_ntt.css' %}">
    <script src="{% static 'home/js/dungcu.js' %}"></script>
    <div class="container-dungcu ctn-ttbnl">
        <div class="tieude">
            <h1>DỤNG CỤ</h1>
        </div>
        <div class="chuatimkiem">
            
            <input type="text" placeholder="Tìm kiếm">
            <button id="tcl">Thêm dụng cụ</button>
            <button>In</button>
        </div>
        <div class="chuabang">
            <table>
                <thead>
                    <tr>
                        <th>Mã Dụng Cụ</th>
                        <th>Tên Dụng Cụ</th>
                        <th>Số Lượng</th>
                        <th>Đơn Vị Tính</th>
                        <th>Ngày Mua</th>
                        <th>Giá</th>
                    </tr>
                </thead>
                <tbody>
                        {% for dungcu in dung_cu_list %}
                    <tr>
                    <td>{{dungcu.madc}}</td>
                    <td>{{dungcu.tendc}}</td>
                    <td>{{dungcu.soluong}}</td>
                    <td>{{dungcu.dvt}}</td>
                    <td>{{dungcu.ngaymua|date:"Y-m-d"}}</td>
                    <td>{{dungcu.giamua|floatformat}}</td>
                    <td class="chuanut"> 
                        <button class="sua">Sửa</button>
                        <button class="xoa">Xóa</button>
                    </td>
                        
                    </tr>
                        {% empty %}
                    <tr>
                        <td colspan="6">Không có dữ liệu</td>
                    </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div> 
    <div class="container_dungcu_ntt" id="form_dungcu_ntt">
        <p class="ti-close dong" id="dong"></p>
        <h1>Thêm thông tin dụng cụ</h1>
        
            <form action="" method="post">
                {% csrf_token %}
                <div class="chuanut">
                    {{ dc.madc }}
                    {{ dc.tendc }}
                    {{ dc.soluong }}
                    {{ dc.dvt }}
                    {{ dc.ngaymua }}
                    {{ dc.giamua }}
                </div>
                <div class="chuanutthem">
                    <button>Thêm</button>
                </div>  
            </form>
            
    </div>

{% endblock %}