{% extends 'home/trangchu.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'home/css/luongnhanvien.css' %}">
<link rel="stylesheet" href="{% static 'home/css/luongnhanvien_ntt.css' %}">
<script src="{% static 'home/js/luongnhanvien_ntt.js' %}"></script>

<div class="container_luong">
    <h1>DANH SÁCH LƯƠNG</h1>
    <div class="chuatimkiem">
       <input type="text" placeholder="Tìm kiếm">
       <button class="them" id="tcl">Thêm </button>
       <button class="in">In</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Mã lương</th>
                <th>Mã nhân viên</th>
                <th>Số giờ</th>
                <th>Lương cơ bản </th>
                <th>Tổng lương</th>
               
            </tr>
        </thead>
        <tbody>
            
            {% for bangluong in bang_luong_list %}
            <tr>
                <td>{{ bangluong.maluong }}</td>
                <td>{{ bangluong.manv }}</td>
                <td>{{ bangluong.sogio|floatformat }}</td>
                <td>{{ bangluong.luongcoban|floatformat }}</td>
                <td>{{ bangluong.tongluong }}</td>
                <td class="chuanut"> 
                    <button class="sua">Sửa</button>
                    <button class="xoa">Xóa</button>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Không có dữ liệu</td>
            </tr>
            {% endfor %}
            
            

        </tbody>
    </table>
    
</div>
<div class="container_luong_ntt" id="form_luong_ntt">
    <p class="ti-close dong" id="dong"></p>
    <h1>Điền thông tin</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="chuanut">
            {{ bl.maluong }}
            {{ bl.manv }}
            {{ bl.sogio }}
            {{ bl.luongcoban }}
            {{ bl.tongluong }}
           
        </div>
        <div class="chuanutthem">
            <button>Thêm</button>
        </div>  
    </form>
    
</div>
</div>
{% endblock %}