{% extends 'home/trangchu.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'home/css/nghiphep.css' %}">
<link rel="stylesheet" href="{% static 'home/css/nghiphep_ntt.css' %}">
<script src="{% static 'home/js/nghiphep.js' %}"></script>
<div class="container-nghiphep">
    <h1>DANH SÁCH NGHỈ PHÉP</h1>
    <div class="chuatimkiem">
       <input type="text" placeholder="Tìm kiếm">
       <button class="them" id="tcl">Thêm nghỉ phép</button>
       <button class="in">In</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Mã nghỉ phép</th>
                <th>Mã nhân viên</th>
                <th>Ngày bắt đầu</th>
                <th>Ngày kết thúc</th>
                <th>Lý do</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            {% for nghiphep in nghi_phep_list %}
            <tr>
                <td>{{ nghiphep.manp}}</td>
                <td>{{ nghiphep.manv }}</td>
                <td>{{ nghiphep.ngaybd|date:"Y-m-d" }}</td>
                <td>{{ nghiphep.ngaykt|date:"Y-m-d" }}</td>
                <td>{{ nghiphep.lydonghi}}</td>
                <td>{{ nghiphep.trangthai}}</td>

                <td class="chuanut">
                    <button class="sua">Sửa</button>
                    <button class="xoa">Xóa</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="container_nghiphep_ntt" id="form_nghiphep_ntt">
        <p class="ti-close dong" id="dong"></p>
        <h1>Điền thông tin</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="chuanut">
                {{ np.manp }}
                {{ np.manv }}
                <p>Ngày bắt đầu</p>
                {{ np.ngaybd }}
                <p>Ngày kết thúc</p>
                {{ np.ngaykt }}
                {{ np.lydonghi }}
                {{ np.trangthai }}
                
            </div>
            <div class="chuanutthem">
                <button>Thêm</button>
            </div>  
        </form>
       
</div>
<style>
    .chuanut p{
        margin-bottom: 8px;
        color: #fff;
    }
</style>
{% endblock %}