{% extends 'home/trangchu.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'home/css/socalam.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/socalam_ntt.css' %}">
    <script src="{% static 'home/js/socalam_ntt.js' %}"></script>
<div class="container_calam">
    <h1>DANH SÁCH CA LÀM</h1>
    <div class="chuatimkiem">
       <input type="text" placeholder="Tìm kiếm">
       <button class="them" id="tcl">Thêm ca làm</button>
       <button class="in">In</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Mã ca làm</th>
                <th>Mã nhân viên</th>
                <th>Ngày</th>
                <th>Giờ bắt đầu</th>
                <th>Giờ kết thúc</th>
            </tr>
        </thead>
        <tbody>
            {% for ca_lam in ca_lam_list %}
            <tr>
                <td>{{ ca_lam.macalam }}</td>
                <td>{{ ca_lam.manv }}</td>
                <td>{{ ca_lam.ngay|date:"Y-m-d" }}</td>
                <td>{{ ca_lam.giobd|time:"H:i:s" }}</td>
                <td>{{ ca_lam.giokt|time:"H:i:s" }}</td>
                <td class="chuanut">
                    <button class="sua">Sửa</button>
                    <button class="xoa">Xóa</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="container_calam_ntt" id="form_calam_ntt">
        <p class="ti-close dong" id="dong"></p>
        <h1>Thêm thông tin ca làm</h1>
        <form method="post">
            {% csrf_token %}
            <div class="chuanut">
                {{ form.macalam }}
                {{ form.manv }}
                {{ form.ngay }}
                {{ form.giobd }}
                {{ form.giokt }}
            </div>
            <div class="chuanutthem">
                <button type="submit">Thêm</button>
            </div>
        </form>
    </div>
{% endblock %}