{% extends 'home/trangchu.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'home/css/thietbi.css' %}">
<link rel="stylesheet" href="{% static 'home/css/thietbi_ntt.css' %}">
<script src="{% static 'home/js/thietbi.js' %}"></script>
<div class="container_thietbi">
    <h1>DANH SÁCH THIẾT BỊ</h1>
    <div class="chuatimkiem">
       <input type="text" placeholder="Tìm kiếm">
       <button class="them" id="tcl">Thêm thiết bị</button>
       <button class="in">In</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Mã thiết bị</th>
                <th>Tên thiết bị</th>
                <th>Loại thiết bị</th>
                <th>Số lượng</th>
                <th>Tình trạng</th>
                <th>Ngày mua</th>
                <th>Giá mua</th>
            </tr>
        </thead>
        <tbody>
            {% for thietbi in thiet_bi_list %}
            <tr>
                <td>{{ thietbi.matb }}</td>
                <td>{{ thietbi.tentb }}</td>
                <td>{{ thietbi.loaitb }}</td>
                <td>{{ thietbi.soluong }}</td>
                <td>{{ thietbi.tinhtrang }}</td>
                <td>{{ thietbi.ngaymua|date:"Y-m-d" }}</td>
                <td>{{ thietbi.giamua|floatformat }}</td>
                <td class="chuanut"> 
                    <button class="sua">Sửa</button>
                    <button class="xoa">Xóa</button>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Không có dữ liệu</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    </div>
    <div class="container_thietbi_ntt" id="form_thietbi_ntt">
        <p class="ti-close dong" id="dong"></p>
        <h1>Điền thông tin</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="chuanut">
                {{ tb.matb }}
                {{ tb.tentb }}
                {{ tb.loaitb }}
                {{ tb.soluong }}
                {{ tb.tinhtrang }}
                <p>Ngày mua</p>
                {{ tb.ngaymua }}
                {{ tb.giamua }}
                
            </div>
            <div class="chuanutthem">
                <button>Thêm</button>
            </div>  
        </form>
</div>
<style>
    .chuanut p{
        margin-bottom: 8px;
        color: #fff;
    }
</style>
{% endblock %}