{% extends 'home/trangchu.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'home/css/thongtinnhanvien.css'%}">
<link rel="stylesheet" href="{% static 'home/css/thongtinnhanvien_ntt.css'%}">
<script src="{% static 'home/js/thongtinnhanvien_ntt.js' %}"></script>
<div class="container">
    <h1>THÔNG TIN NHÂN VIÊN</h1>
    <div class="chuatimkiem">
        <input type="text" placeholder="Tìm kiếm">
        <button class="them" id="ttt" >Thêm nhân viên</button>
        <button class="in">In</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Mã nhân viên</th>
                <th>Họ tên</th>
                <th>Ngày sinh</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Ngày vào làm</th>
                <th>Vị trí công việc</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            
            {% for nhanvien in nhan_vien_list %}
            <tr>
                <td>{{ nhanvien.manv }}</td>
                <td>{{ nhanvien.hoten }}</td>
                <td>{{ nhanvien.ngaysinh|date:"Y-m-d" }}</td>
                <td>{{ nhanvien.sdt }}</td>
                <td>{{ nhanvien.diachi }}</td>
                <td>{{ nhanvien.ngayvaolam|date:"Y-m-d"}}</td>
                <td>{{ nhanvien.vitricongviec}}</td>
                <td>{{ nhanvien.trangthai}}</td>
                <td class="chuanut"> 
                    <button class="sua">Sửa</button>
                    <button class="xoa">Xóa</button>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Không có dữ liệu</td>
            </tr>
            {% endfor %}
            


        </tbody>
    </table>
</div>
<div class="container_ntt" id="formtt">
    <p class="ti-close dong" id="dong"></p>
    <h1>Điền thông tin
        <form action="" method="post">
            {% csrf_token %}
            <div class="chuanut">
                {{ nv.manv }}
                {{ nv.hoten }}
                <p>Ngày sinh</p>
                {{ nv.ngaysinh }}
                {{ nv.sodt }}
                {{ nv.diachi }}
                <p>Ngày vào làm</p>
                {{ nv.ngayvaolam }}
                {{ nv.vitricongviec }}
                {{ nv.trangthai }}
                
            </div>
            <div class="chuanutthem">
                <button>Thêm</button>
            </div>  
        </form>
    
    
    

</div>
<style>
    .chuanut p{
        margin-bottom: 8px;
        color: #fff;
        font-size: 15px;
        text-align: start;
    }
</style>
{% endblock %}