{% extends 'home/trangchu.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'home/css/thongtinnguyenlieu.css' %}">
<link rel="stylesheet" href="{% static 'home/css/thongtinnguyenlieu_ntt.css' %}">
<script src="{% static 'home/js/thongtinnguyenlieu.js' %}"></script>
<div class="container_thongtinnguyenlieu">
    <h1>THÔNG TIN NGUYÊN LIỆU</h1>
    <div class="chuatimkiem">
       <input type="text" placeholder="Tìm kiếm">
       <button class="them" id="tcl">Thêm nguyên liệu</button>
       <button class="in">In</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Mã nguyên liệu</th>
                <th>Tên nguyên liệu</th>
                <th>Giá</th>
                <th>Ngày hết hạng</th>
            </tr>
        </thead>
        <tbody>
                {% for nguyenlieu in nguyen_lieu_list %}
           <tr>
            <td>{{nguyenlieu.manl}}</td>
            <td>{{nguyenlieu.tennl}}</td>
            <td>{{nguyenlieu.gia}}</td>
            <td>{{nguyenlieu.ngayhethan}}</td>
            <td class="chuanut"> 
                <button class="sua">Sửa</button>
                <button class="xoa">Xóa</button>
            </td>
           </tr>
                {% empty %}
           <tr>
            <td colspan="6">Không có dữ liệu</td>
           </tr>
                {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="container_thongtinnguyenlieu_ntt" id="form_thongtinnguyenlieu_ntt">
        <p class="ti-close dong" id="dong"></p>
        <h1>Điền thông tin</h1>
        <form action="" method="POST">
            {%csrf_token%}
            <div class="chuanut">
                {{ nl.manl }}
                {{ nl.tennl }}
                {{ nl.gia }}
                {{ nl.dvt }}
                {{ nl.soluong }}
                <p>Ngày hết hạn</p>
                {{ nl.ngayhethan }}
            </div>
            <div class="chuanutthem">
                <button>Thêm</button>
            </div>
        </form>
        <style>
            .chuanut p{
                margin-bottom: 8px;
                color: #fff;
            }
        </style>

{% endblock %}