{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin nhân viên</title>
    <link rel="stylesheet" href="{% static 'home/css/thongtinnhanvien.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/thongtinnhanvien_ntt.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/font/themify-icons-font/themify-icons/themify-icons.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/trangchu.css' %}">
    <script src="{% static 'home/js/trangchu.js'%}"></script>
    <script src="{% static 'home/js/thongtinnhanvien_ntt.js' %}"></script>
</head>
<body>
    <div id="main">
        <div id="h-sb">
            
            <div id="header">
                <div id="nav1-2">
                    <div id="nav1">
                        <button id="btn-sidebar" class="ti-menu-alt" ></button>
                        <a href="trangchu.html" class="ten">HA'</a>
                    </div>
                    <div id="nav2">
                        <ul id ="ul1">
                            <li>
                                <a href="">Nhân Viên</a>
            
                            </li>
                            <li><a href="">Trang Thiết Bị</a></li>
                            <li><a href="">Nguyên Liệu</u></a></li>
                        </ul>
                    </div>
                </div>
                <div id="nav3">
                    <li><a href="index.html" class="ti-user"></a></li>
                </div>
            </div>
        </div>
        <div id="sidebar">
            <div class="chuanv side-items">
                <ul class="item nv">
                    <li>
                        <a href="#">Nhân Viên</a>
                        <ul class="subnv sub">
                            <li><a href="thongtinnhanvien.html">Thông Tin Nhân Viên</a></li>
                            <li><a href="luongnhanvien.html">Lương Nhân Viên</a></li>
                            <li><a href="socalam.html">Số Ca Làm</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="chuattb side-items">
                <ul class="item ttb">
                    <li>
                        <a href="#">Trang Thiết Bị</a>
                        <ul class="subtn sub">
                            <li><a href="#">Thông tin trang thiết bị</a></li>
                            <li><a href="#">Bảo trì</a></li>
                            
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="chuanl side-items">
                <ul class="item nl">
                    <li>
                        <a href="#">Nguyên Liệu</a>
                        <ul class="subnl sub">
                            <li><a href="#">Thông tin nguyên liệu</a></li>
                            <li><a href="#">Kho nguyên liệu</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    
        
       
    <div class="container">
        <h1>THÔNG TIN NHÂN VIÊN</h1>
        <div class="chuatimkiem">
            <input type="text" placeholder="Tìm kiếm">
            <button class="them" id="ttt" >Thêm nhân viên</button>
            <button class="in">In</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Mã nhân viên</th>
                    <th>Họ tên</th>
                    <th>Ngày sinh</th>
                    <th>Số điện thoại</th>
                    <th>Địa chỉ</th>
                    <th>Ngày vào làm</th>
                    <th>Vị trí công việc</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                   
                    <td>NV001</td>
                    <td>Nguyễn Văn Mương </td>
                    <td>1900-06-04</td>
                    <td>0704321867</td>
                    <td>Thành Phố Cần Thơ</td>
                    <td>2012-07-01</td>
                    <td>Nhân viên</td>
                    <td>Đang làm</td>
                    <td class="chuanut">
                       
                        <button class="sua">Sửa</button>
                        <button class="xoa">Xóa</button>
                    </td>
                </tr>

                <tr>
                   
                    <td>NV002</td>
                    <td>Phạm Thị Hiền </td>
                    <td>1985-05-18</td>
                    <td>0327649877</td>
                    <td>Bạc Liêu</td>
                    <td>2012-08-01</td>
                    <td>Nhân viên</td>
                    <td>Đang làm</td>
                    <td class="chuanut">
                        
                        <button class="sua">Sửa</button>
                        <button class="xoa">Xóa</button>
                    </td>
                </tr>

               

                

                <tr>
                   
                    <td>NV003</td>
                    <td>Nguyễn Thành Hải </td>
                    <td>1987-09-08</td>
                    <td>0907531427</td>
                    <td>Vĩnh Long</td>
                    <td>2012-07-01</td>
                    <td>Nhân viên</td>
                    <td>Đang làm</td>
                    <td class="chuanut">
                     
                        <button class="sua">Sửa</button>
                        <button class="xoa">Xóa</button>
                    </td>
                </tr>


            </tbody>
        </table>
    </div>
    <div class="container_ntt" id="formtt">
        <p class="ti-close dong" id="dong"></p>
        <h1>Điền thông tin
           
        </h1>
        <div class="chuanut">
            <input type="text"placeholder="Mã nhân viên">
            <input type="text"placeholder="Họ tên">
            <input type="text"placeholder="Ngày sinh">
            <input type="text"placeholder="Số điện thoại">
            <input type="text"placeholder="Địa chỉ">
            <input type="text"placeholder="Ngày vào làm">
            <input type="text"placeholder="Vị trí công việc">
            <input type="text"placeholder="Trạng thái">
            <div class="chuanutthem">
                <button>Thêm</button>
            </div>
        </div>
        
    </div>
    </div>
</body>
</html>