{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <script src="{% static 'home/js/trangchu.js'%}"></script>
    <link rel="stylesheet" href="{% static 'home/css/font/themify-icons-font/themify-icons/themify-icons.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/trangchu.css'%}">
</head>
<body>
    <div id="main">
        <div id="h-sb">
            
            <div id="header">
                <div id="nav1-2">
                    <div id="nav1">
                        <button id="btn-sidebar" class="ti-menu-alt" ></button>
                        <a href="trangchu.html" class="ten">HA'</a>
                    </div>
                    <div id="nav2">
                        <ul id ="ul1">
                            <li>
                                <a href="">Nhân Viên</a>
            
                            </li>
                            <li><a href="">Trang Thiết Bị</a></li>
                            <li><a href="">Nguyên Liệu</u></a></li>
                        </ul>
                    </div>
                </div>
                <div id="nav3">
                    <li><a href="" class="ti-user"></a></li>
                </div>
            </div>
        </div>
        <div id="sidebar">
            <div class="chuanv side-items">
                <ul class="item nv">
                    <li>
                        <a href="#">Nhân Viên</a>
                        <ul class="subnv sub">
                            <li><a href="thongtinnhanvien.html">Thông Tin Nhân Viên</a></li>
                            <li><a href="luongnhanvien.html">Lương Nhân Viên</a></li>
                            <li><a href="socalam.html">Số Ca Làm</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="chuattb side-items">
                <ul class="item ttb">
                    <li>
                        <a href="#">Trang Thiết Bị</a>
                        <ul class="subtn sub">
                            <li><a href="#">Thông tin trang thiết bị</a></li>
                            <li><a href="#">Bảo trì</a></li>
                            
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="chuanl side-items">
                <ul class="item nl">
                    <li>
                        <a href="#">Nguyên Liệu</a>
                        <ul class="subnl sub">
                            <li><a href="#">Thông tin nguyên liệu</a></li>
                            <li><a href="#">Kho nguyên liệu</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
</body>
</html>