.container-dungcu {

    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    margin-left: 300px;
    padding-top: 70px;

}
td{
    font-size: 13px;
}
th{
    font-size: 15px;
}
thead{
max-width: 120vh;
}
tbody{
max-width: 140vh;
}
.container_dungcu table tbody {
    display: block;          
    max-height: 400px;       
    overflow-y: auto;       
}

.container_dungcu table thead, 
.container_dungcu table tbody tr {
    display: table;          
    width: 100%;
    table-layout: fixed;     
}
.container-dungcu h1{
    color: #fff;
    text-align: start;
}
.container-dungcu .chuatimkiem button{
    padding: 10px 12px;
    background-color:#C4A484;
    border-radius: 10px solid black;
    margin-right: 10px;
    border-radius: 5px;
}
.chuatimkiem button:hover{
    background-color: #6D4C41;
    color: #F4D06F;
}
.chuatimkiem button:active{
    background-color: #2E2A26;
    color: #C4A484;
}
.container-dungcu .chuatimkiem{
display: flex;
margin-right: 5px;
margin-top: 10px;

}
.container-dungcu input{
    padding: 10px;
width: 30%;
border: 1px solid black;
background-color: beige;
margin-right: 10px;
}

.container-dungcu th{
    background-color: #4B3F3A;
    color: #fff;
    padding: 10px 15px;
    border-bottom: 2px solid #A67B5B;
}
.container-dungcu tr{
    border-bottom: 1px solid #A67B5B;
}
.container-dungcu table{
    border-collapse: collapse;
    border: 1px solid #000;
    margin-top: 30px;
    max-width: 2000px;
    border-radius: 5px;
    background-color: #4B3F3A;
}
.container-dungcu td{
    padding: 12px;
    text-align: left;
    border: 1px solid black;
    color: #fff;
}

.container-dungcu .chuabang button{
    padding: 5px;
    background-color: #C4A484;
    border-radius: 5px;
}
.container-dungcu .chuabang button:hover{
    background-color: #6D4C41;
    color: #F4D06F;
}

.container-dungcu .chuabang button:active{
    background-color: #2E2A26;
    color: #C4A484;
}