.container_khonguyenlieu {

    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    margin-left: 300px;
    padding-top: 70px;

}



.container_khonguyenlieu .them{
    border-radius: 5px;
}
.container_khonguyenlieu .in{
    border-radius: 5px;
}

.container_khonguyenlieu h1{
    color: #fff;
    text-align: start;
}


.container_khonguyenlieu .chuatimkiem{
display: flex;
margin-right: 5px;
margin-top: 10px;

}
.container_khonguyenlieu input[type="text"]{
    padding: 10px;
width: 30%;
border: 1px solid black;
background-color: beige;
margin-right: 10px;
}
.container_khonguyenlieu .chuatimkiem button{
    padding: 10px 12px;
    background-color:#C4A484;
    border-radius: 10px solid black;
    margin-right: 10px;
    border-radius: 5px;
}
.container_khonguyenlieu th{
    background-color: #4B3F3A;
    color: #fff;
    padding: 10px 15px;
    border-bottom: 2px solid #A67B5B;
}
.container_khonguyenlieu tr{
    border-bottom: 1px solid #A67B5B;
}
.container_khonguyenlieu table{
    border-collapse: collapse;
    border: 1px solid #000;
    margin-top: 30px;
    max-width: 2000px;
    border-radius: 5px;
    background-color: #4B3F3A;


    
    
}
.container_khonguyenlieu td{
    padding: 12px;
    text-align: left;
    border: 1px solid black;
    color: #fff;
}

.container_khonguyenlieu table button{
    padding: 5px;
    background-color: #C4A484;
    border-radius: 5px;
}
.container_khonguyenlieu .chuanut{
    border-radius: 5px;
}
.container_khonguyenlieu .chuanut{
    
}
.container_khonguyenlieu .sua{
    padding: 5px;
    background-color: #C4A484;
    border-radius: 5px;
}



.container_khonguyenlieu .xoa{
    padding: 5px;
    background-color: #C4A484;
    border-radius: 5px;
}
.container_khonguyenlieu button:hover{
    
    background-color: #6D4C41;
    color: #F4D06F;
}
.container_khonguyenlieu button:active{
    background-color: #2E2A26;
    color: #C4A484;
}

