.chualuong{
    background-image: linear-gradient(to right,#80ED99,#45DFB1,#0AD1C8,#14919B,#0B6477,#213A57);
  }
  .container_luong h1{
    color:rgb(125, 100, 237);
    text-align: start;
  }
  .container_luong {
     
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    margin-left: 300px;
    padding-top: 70px;
  }
  .container_luong .chuatimkiem{
  display: flex;
  margin-right: 5px;
  margin-top: 10px;
  
  }
  .container_luong input[type="text"]{
      padding: 10px;
     width: 30%;
     border: 1px solid black;
     background-color: beige;
     margin-right: 10px;
  }
  .container_luong .chuatimkiem button{
      padding: 10px 12px;
      background-color:rgba(205, 205, 8, 0.626);
      border-radius: 10px solid black;
      margin-right: 10px;
     
      
     
  }
  .container_luong .them{
      border-radius: 5px;
  }
  .container_luong .in{
      border-radius: 5px;
  }
  
  .container_luong th{
      background-color: #0B6477;
      padding: 10px 15px;
      color: white;
     
  
  }
  .container_luong table{
      
      border-collapse: collapse;
      border: 1px solid black ;
      margin-top: 30px;
      max-width: 2000px;
      border-radius: 5px;
      background-color: #ffffffc3;
     
     
      
      
  }
  .container_luong td{
      padding: 12px;
      text-align: left;
      border: 1px solid black;
  }
  .container_luong .chuanut{
      border-radius: 5px;
  }
  .container_luong .chuanut{
      
  }
  .container_luong .sua{
      background-color: rgb(155, 184, 11);
      border-radius: 5px;
      padding: 4px;
  }
  .container_luong .sua:hover{
      
      background-color: rgba(67, 139, 0, 0.774);
      margin-right: 5px;
  }
  .container_luong .xoa{
      background-color: rgb(155, 184, 11);
      border-radius: 5px;
      padding: 4px;
  }
  .container_luong .xoa:hover{
      background-color: rgba(67, 139, 0, 0.774);
  }