    /* body{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

    }   */

    .container_luong_nhaptt{
    width: 400px;
    height: 650px;
    background-image: linear-gradient(to right,#80ED99,#45DFB1,#0AD1C8,#14919B,#0B6477,#213A57);
    margin-top: 50px;
    border-radius: 4px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    }
    .container_luong_nhaptt h1{
        text-align: center;
    }
    .container_luong_nhaptt .chuanut{
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin-bottom: 10px;
        border-radius: 10px;
    
    }
    .container_luong_nhaptt input{
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 5px;
    
    }
    .container_luong_nhaptt .chuanutthem{
       
        text-align: center;
    }
    .container_luong_nhaptt button{
        background-color:rgba(0, 191, 255, 0.826);
        border-radius: 5px;
        padding: 15px;
        width: 100px;
    }
    .container_luong_nhaptt button:hover{
        background-color: rgba(0, 100, 0, 0.635);
    }