.container-nghiphep {

    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    margin-left: 300px;
    padding-top: 70px;

}



.container-nghiphep .them{
    border-radius: 5px;
}
.container-nghiphep .in{
    border-radius: 5px;
}

.container-nghiphep h1{
    color: #fff;
    text-align: start;
}


.container-nghiphep .chuatimkiem{
display: flex;
margin-right: 5px;
margin-top: 10px;

}
.container-nghiphep input[type="text"]{
    padding: 10px;
width: 30%;
border: 1px solid black;
background-color: beige;
margin-right: 10px;
}
.container-nghiphep .chuatimkiem button{
    padding: 10px 12px;
    background-color:#C4A484;
    border-radius: 10px solid black;
    margin-right: 10px;
    border-radius: 5px;
}
.container-nghiphep th{
    background-color: #4B3F3A;
    color: #fff;
    padding: 10px 15px;
    border-bottom: 2px solid #A67B5B;
}
.container-nghiphep tr{
    border-bottom: 1px solid #A67B5B;
}
.container-nghiphep table{
    border-collapse: collapse;
    border: 1px solid #000;
    margin-top: 30px;
    max-width: 2000px;
    border-radius: 5px;
    background-color: #4B3F3A;


    
    
}
.container-nghiphep td{
    padding: 12px;
    text-align: left;
    border: 1px solid black;
    color: #fff;
}

.container-nghiphep table button{
    padding: 5px;
    background-color: #C4A484;
    border-radius: 5px;
}
.container-nghiphep .chuanut{
    border-radius: 5px;
}
.container-nghiphep .chuanut{
    
}
.container-nghiphep .sua{
    padding: 5px;
    background-color: #C4A484;
    border-radius: 5px;
}



.container-nghiphep .xoa{
    padding: 5px;
    background-color: #C4A484;
    border-radius: 5px;
}
.container-nghiphep button:hover{
    
    background-color: #6D4C41;
    color: #F4D06F;
}
.container-nghiphep button:active{
    background-color: #2E2A26;
    color: #C4A484;
}

